div(ng-include="'components/navbar/navbar.html'")

fa-view(ts-sheet="MainSheet")

  fa-grid-layout(fa-options="options.grid")

    fa-modifier(
      ng-repeat="project in projects"
      fa-index="$index"
      fa-origin="[0.5,0.5]"
      fa-align="[0.5,0.5]"
      class="project"
      fa-rotate="[0,translateY.get(),0]"
    )


      fa-surface(
        fa-background-color="colors[$index]"
        fa-click="changeState(project.state)"
      )

      fa-modifier(
          fa-align="[0.5,0.4]"
      )
        fa-surface(
          fa-size="[true,true]"
        )
          span.projectIcon.octicon(
            class="octicon-{{project.icon}}"
          )

      fa-modifier(
        fa-align="[0.5,0.6]"
      )
        fa-surface.projectInfo(
          fa-size="[true,true]"
        )
          p.name {{project.name}}